.outer-container {
    display: flex;
    justify-content: center;
}
.inner-container {
    max-width: 55rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}